* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: url('assets/img/img.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff
}

.container {
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    width: 90%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 600;
    font-size: 50px;
    margin: 9px 0;

}

.menu-container {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container.disabled {
    display: none;
}

/* start-btn */
.btn {
    border-radius: 25px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    width: 75%;
    height: 75px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 35px;
    transition: 0.35s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.game-display.disabled {
    display: none;
}

.game-display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-display #category {
    margin: 9px auto;
}

/* message-container //game over // victory */

.message-container.disabled {
    display: none;
}

.message-container {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.message-container h1 {
    font-weight: 600;
    font-size: 65px;
    margin: auto;
}

.hang-display {
    width: 80%;
    height: 80%;
}

.game-display .hangman-container {
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    width: 200px;
    height: 250px;
}

.figure-part {
    display: none;
}

.word-to-guess {
    display: flex;
    justify-content: center;
    padding: auto;
    margin: 15px auto;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 25px;
    height: 50px;
    text-transform: uppercase;
}

.letters-container {
    width: 100%;
    height: 25%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.letters-container i {
    margin: auto 5px;
    padding: 9px 12px;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.35s ease-in-out;
}

#enter {
    margin-left: 10px;
    padding-bottom: 20px;
    transform: rotate(90deg);
}



.letters-container i:hover {
    background: rgba(0, 0, 0, 0.5);
}

.letters-container i:active {
    transform: scale(0.98);
}

/* when the letter is used */
.letters-container i.disabled {
    background-color: #ccc;
    color: #666;
    border: 1px solid #999;
}

/* breakpoints */

/* smaller screens */
@media screen and (min-width: 350px) {
    .container {
        width: 80%;
        height: auto;
    }

    .title {
        margin-top: 10px;
        font-size: 25px;
    }

    .figure-container {
        width: 150px;
        height: 200px;
        padding: 10px;
    }

    /* msg */
    .message-container {
        height: 35%;
        margin: 25px;
        padding: 25px;
    }

    #wordRvl {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .message-container h1 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .message-container .btn {
        height: 30px;
        font-size: 12px;
    }

    /* menu */
    .btn {
        width: 45%;
        height: 15%;
        font-size: 18px;
    }

    /* game */
    .game-display h1 {
        font-size: 1em;

    }

    .game-display .hang-display {
        height: 35%;
    }

    .letters-container {
        width: 100%;
    }

    .letters-container i {
        font-size: 10px;
        padding: 7px 10px;
        margin: 3px 4px;

    }
}

@media screen and (min-width: 530px) {
    .container {
        width: 70%;

    }
}

/* medium screens */
@media screen and (min-width: 620px) {
    .container {
        width: 60%;
    }
}

@media screen and (min-width: 730px) {
    .container {
        width: 50%;
    }
}

@media screen and (min-width: 860px) {
    .container {
        width: 45%;
    }
}

/* large screens */
@media screen and (min-width: 1000px) {
    .container {
        width: 70%;
        height: 750px;
    }

    .title {
        font-size: 50px;
    }

    .game-display {
        width: 80%;
    }

    .game-display #category {
        font-size: 1.5em;
    }

    .game-display .hang-display {
        height: 50%;
    }

    .figure-container {
        width: 200px;
        height: 250px;
    }

    .letters-container i {
        margin: auto 5px;
        padding: 9px 12px;
        font-size: 1em;
    }

    /* msg */
    .message-container h1 {
        font-size: 3em;
        margin: 0;
        margin-bottom: 15px;
    }

    #wordRvl {
        font-size: 25px;
        margin-bottom: 15px;
        text-transform: uppercase;
        
    }

    .message-container .btn {
        height: 75px;
        font-size: 2em;
    }


}

@media screen and (min-width: 1100px) {
    .container {
        width: 65%;
    }

    .game-display {
        width: 75%;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
        height: 650px;
    }

    .game-display {
        width: 60%;
    }
}