* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: url('assets/img/img.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff
}

.container {
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 600;
    font-size: 50px;
    margin: 9px 0;

}

.menu-container {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container.disabled {
    display: none;
}

/* start-btn */
.btn {
    border-radius: 25px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    width: 75%;
    height: 75px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 35px;
    transition: 0.35s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.game-display.disabled {
    display: none;
}

.game-display {
    width: 600px;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-display #category {
    margin: 9px auto;
}

/* message-container //game over // victory */

.message-container.disabled {
    display: none;
}

.message-container {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.message-container h1 {
    font-weight: 600;
    font-size: 65px;
    margin: auto;
}

.message-container button {
    margin-bottom: 15px
}

.hang-display {
    width: 450px;
    height: 300px;
}

.game-display .hangman-container {
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}

.word-to-guess {
    display: flex;
    justify-content: center;
    padding: auto;
    margin: 15px auto;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 25px;
    height: 50px;
    text-transform: uppercase;
}

.letters-container {
    max-width: 478px;
    width: 478px;
    height: 150px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.letters-container i {
    margin: auto 5px;
    padding: 9px 12px;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.35s ease-in-out;

}

#enter {
    margin-left: 10px;
    padding-bottom: 20px;
    transform: rotate(90deg);
}



.letters-container i:hover {
    background: rgba(0, 0, 0, 0.5);
}

.letters-container i:active {
    transform: scale(0.98);
}

/* when the letter is used */
.letters-container i.disabled {
    background-color: #ccc;
    color: #666;
    border: 1px solid #999;
}